@{
    ViewBag.Title = "Giới thiệu";
}

<!--about start here-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <h1>Giới thiệu</h1>
            </div>
            <div class="about-bottom">
                <div class="col-md-5 about-left wow bounceInLeft" data-wow-delay="0.3s">
                    <img src="~/Content/images/HotelImages/IMG_2629.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-7 about-right wow bounceInRight" data-wow-delay="0.3s">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Khách sạn XXX tọa lạc tại đường XXX Đà Nẵng, khách sạn sở hữu một trong những vị trí đẹp nhất ở trung tâm du lịch bán đảo Sơn Trà Đà Nẵng. Khách sạn nằm cách bãi biển Mỹ Khê 500m - nơi được tạp chí Forbes bình chọn là một trong 6 bãi biển đẹp nhất thế giới, cách sân bay quốc tết Đà Nẵng 4km, cách trung tâm thành phố 2 km, nằm ngay sát bờ sông Hàn thơ mộng. Bước ra khỏi khách sạn quý khách sẽ có rất nhiều sự lựa chọn về ẩm thực, từ các nhà hàng cao cấp đến các quán ăn bình dân đa dạng các loại hải sản tươi sống hợp túi tiền, hoặc quý khách cũng có thể tản bộ ở công viên biển Đông để ngắm cảnh bình minh thơ mộng với từng đàn chim bồ câu chao liệng.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cũng từ khách sạn, quý khách có thể dễ dàng đến thăm các di sản văn hóa thế giới : thánh địa Mỹ Sơn, phố cổ Hội An hay các danh lam thắng cảnh trên cùng cung đường biển như bán đảo Sơn Trà, chùa Linh Ứng, Ngũ Hành Sơn…</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Khách sạn XXX được đưa vào hoạt động từ tháng 3 năm 2016.Chúng tôi cung cấp 59 phòng nghỉ và và 22 căn hộ cao cấp ( 1 phòng ngủ và 2 phòng ngủ )tiêu chuẩn 3 sao trang thiết bị hiện đại và đầy đủ các tiện nghi sang trọng, cấu trúc không gian thoáng mát, lịch thiệp và rất thoải mái, ấm cúng. Với vị trí thuận lợi, tầm nhìn hướng bờ sông Hàn ở tất cả các phòng và chất lượng dịch vụ chuyên nghiệp với tiêu chí không ngừng hoàn thiện,  bên cạnh đó là đội ngũ nhân viên thân thiện, phục vụ tận tình, chu đáo.
                        Chúng tôi xin cam kết, Quý khách sẽ là những vị khách hàng hạnh phúc nhất khi trải nghiệm dịch vụ tại XXX Hotel Đà Nẵng.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--about end here-->

<!--gallery start here-->
<div class="gallery" id="gallery">
        <div class="container">
            <div class="gallery-main wow zoomIn" data-wow-delay="0.3s">
                <div class="gallery-top">
                    <h1>Thư viện hình ảnh</h1>
                </div>
                <div class="gallery-bott">
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2629.jpg" rel="Mặt tiền khách sạn" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2629.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal"> Mặt tiền khách sạn</h4>*@
                                    <p class="gal1">Mặt tiền khách sạn</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2635.jpg" rel="Cửa chính" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2635.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">Cửa chính</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2652.jpg" rel="Tiền sảnh" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2652.jpg" alt="">
                                <figcaption>
                                    <p class="gal1">Tiền sảnh</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2645.jpg" rel="Tiền sảnh khách sạn" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2645.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">Tiền sảnh</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2685.jpg" rel="Phòng ăn" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2685.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">Phòng ăn</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2700.jpg" rel="Phong cảnh" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2700.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">Phòng cảnh</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2692.jpg" rel="View sân thượng" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2692.jpg" alt="">
                                <figcaption>
                                    <h4 class="gal">View sân thượng</h4>
                                    @*<p class="gal1">View sân thượng</p>*@
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2691.jpg" rel="View sân thượng" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2691.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">View sân thượng</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2676-Pano.jpg" rel="Phòng" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2676-Pano.jpg" alt="">
                                <figcaption>
                                    <p class="gal1">Phòng</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2681.jpg" rel="Phòng" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2681.jpg" alt="">
                                <figcaption>
                                    <p class="gal1">Phòng</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col-md-4 col1 gallery-grid">
                        <a href="~/Content/images/HotelImages/IMG_2658-Pano.jpg" rel="Tiền sảnh" class="b-link-stripe b-animate-go  thickbox">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="~/Content/images/HotelImages/IMG_2658-Pano.jpg" alt="">
                                <figcaption>
                                    @*<h4 class="gal">Nemo voluptatem</h4>*@
                                    <p class="gal1">Tiền sảnh</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
<!--gallery end here-->

@section LocalStyles{
    <link href="~/Content/css/chocolat.css" rel="stylesheet" />
}

@section LocalScripts{
    <script src="~/Scripts/common/jquery.chocolat.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(function() {
		    $('.gallery-grid a').Chocolat();
		});
    </script>
}
