@{
    ViewBag.Title = "Trang chủ";
}

<!--banner  start hwew-->
<div class="banner">
    <div class="container">
        <div class="banner-main wow zoomIn" data-wow-delay="0.3s">
            <h2>CÔNG TY TNHH KHÁCH SẠN NGỌC VY cho thuê khách sạn nguyên căn</h2>
            <h6>Chào mừng quý khách đến với khách sạn chúng tôi</h6>
            <p>Chúng tôi rất hân hạnh được mang đến những giây phút tuyệt vời nhất trong kỳ nghỉ của quý khách</p>
        </div>
    </div>
</div>
<!--BANNER END HERE-->
<!--information start here-->
<div class="information">
    <div class="container">
        <div class="information-main">
            <div class="information-grid five-star wow slideInLeft" data-wow-delay="0.3s">
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s1.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Khách sạn chuẩn quốc tế</h4>
                        <p>Khách sạn đạt chuẩn 3 sao quốc tế.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s2.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Dịch vụ</h4>
                        <p>Nghỉ dưỡng, spa, tour.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s4.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>An toàn</h4>
                        <p>Đảm bảo an toàn tuyệt đối giúp quý khách yên tâm tận hưởng kỳ nghỉ.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="information-grid wow slideInRight" data-wow-delay="0.3s">
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s3.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Thức ăn</h4>
                        <p>Đặc sản, sạch, tươi, ngon.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s5.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Khách sạn</h4>
                        <p>Tầm nhìn đẹp, sát biển, không gian rộng rãi thoáng mát, đầy đủ các tiện nghi.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/location_icon.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Vị trí</h4>
                        <p>Cách sân bay 4km, cách biển 500m, nằm ở khu trung tâm du lịch mua sắm của Đà Nẵng</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--information end here-->
<!--branches start here-->
<div class="branches">
    <div class="branches-main wow zoomIn" data-wow-delay="0.3s">
        <div class="branches-top">
            <h3>Hình ảnh khách sạn</h3>
        </div>
        <div id="effect-5" class="branch-btm">
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd  no-mar">
                    <a href="~/Content/images/HotelImages/IMG_2629.png" rel="title" class="b-link-stripe b-animate-go thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2629_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand lardge">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd went-branc">
                    <a href="~/Content/images/HotelImages/IMG_2658-Pano.png" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2658-Pano_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
                <div class="branch-gd went-branc">
                    <a href="~/Content/images/HotelImages/IMG_2676-Pano.png" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2676-Pano_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd">
                    <a href="~/Content/images/HotelImages/IMG_2681.png" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2681_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
                <div class="branch-gd">
                    <a href="~/Content/images/HotelImages/IMG_2685.png" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2685_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd went-branc2">
                    <a href="~/Content/images/HotelImages/IMG_2645.png" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2645_small.png" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand lardge">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--branches end here-->

<!--gallery end here-->
@section LocalStyles{
    <link href="~/Content/css/chocolat.css" rel="stylesheet" />
}

@section LocalScripts{
    <script src="~/Scripts/common/jquery.chocolat.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(function() {
		    $('.branches .branch-btm a').Chocolat();
		});
    </script>
}

