
@{
    ViewBag.Title = "Gửi email thành công";
}

<div class="send-email-complated-container">
    <img class="img-send-email-complated" src="~/Content/Images/send_email_completed.png">
    <h2>Cảm ơn quý khách. Chúng tôi sẻ phản hồi email quý khách sớm nhất</h2>
</div>
