
@{
    ViewBag.Title = "Dịch vụ";
}

<!--services strat here-->
<div class="services">
    <div class="container">
        <div class="services-man">
            <div class="services-top">
                <h1>Dịch vụ</h1>
            </div>
            <div class="services-bottom wow slideInLeft" data-wow-delay="0.3s">
                <div class="col-md-4 services-grid">
                    <div class="item item-type-move">
                        <a class="item-hover" href="/Home/Rooms">
                            <div class="item-info">
                                <div class="headline">
                                    Phòng
                                    <div class="line"> </div>
                                </div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/room.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="ser-text">
                        <h4>Dịch vụ phòng</h4>
                        <p>Thiết kế theo phong cách hiện, đầy đủ tiện nghi, tầm nhìn đẹp</p>
                    </div>
                </div>
                <div class="col-md-4 services-grid">
                    <div class="item item-type-move">
                        <a class="item-hover">
                            <div class="item-info">
                                <div class="headline">
                                    Buffet
                                    <div class="line"> </div>
                                </div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/buffet.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="ser-text">
                        <h4>Tiệc Buffet</h4>
                        <p>Phục vụ các món đặc sản, tươi, ngon</p>
                    </div>
                </div>
                <div class="col-md-4 services-grid">
                    <div class="item item-type-move">
                        <a class="item-hover">
                            <div class="item-info">
                                <div class="headline">
                                    Tour
                                    <div class="line"> </div>
                                </div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/tour.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="ser-text">
                        <h4>Tour du lịch</h4>
                        <p>Cung cấp các tour du lịch Sơn Trà, Ngủ hành Sơn, Hội An, Bà Nà, Huế </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--services end here-->

