<footer>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="title">
                    <h3>Công ty thành viên</h3>
                </div>
                <div id="owl-demo2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 666px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 111px;">
                                <div class="item col-xs-11" style="padding:0px 7px;">
                                    <a href="#" target="_blank">
                                        <img src="~/Content/Images/Unicons_Logo_27062016.jpg" alt="Unicons">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 111px;">
                                <div class="item col-xs-11" style="padding:0px 7px;">
                                    <a href="#" target="_blank">
                                        <img src="~/Content/Images/logo2.jpg" alt="Ricons">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 111px;">
                                <div class="item col-xs-11" style="padding:0px 7px;">
                                    <img src="~/Content/Images/logo3.jpg" alt="FCC">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls clickable" style="display: none;">
                        <div class="owl-pagination">
                            <div class="owl-page">
                                <span class=""></span>
                            </div>
                        </div>
                        <div class="owl-buttons">
                            <div class="owl-prev">
                                <img src="~/Content/Images/icon1.jpg">
                            </div>
                            <div class="owl-next">
                                <img src="~/Content/Images/icon2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 os-tuyendart w3danima">
                <div class="title">
                    <h3><p>Đối tác chiến lược</p></h3>
                </div>
                <div id="owl-demo3" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 222px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 111px;">
                                <div class="item col-xs-11" style="padding:0px 7px;">
                                    <img src="~/Content/Images/Logo-Kusto.jpg" alt="Kustocem Pte. Ltd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls clickable" style="display: none;">
                        <div class="owl-pagination">
                            <div class="owl-page">
                                <span class=""></span>
                            </div>
                        </div>
                        <div class="owl-buttons">
                            <div class="owl-prev">
                                <img src="~/Content/Images/icon1.jpg">
                            </div>
                            <div class="owl-next">
                                <img src="~/Content/Images/icon2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 bgopa">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>Thông tin công ty</h4>
                    <div class="menu-footer-1-container">
                        <ul id="menu-footer-1" class="list">
                            <li id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a href="#">Tổng quan công ty</a></li>
                            <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"><a href="#">Cơ cấu tổ chức</a></li>
                            <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188"><a href="#">Cán bộ chủ chốt</a></li>
                            <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="#">Chính sách nhân sự</a></li>
                            <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="#">Những cải tiến trong tổ chức</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>Quan hệ cổ đông</h4>
                    <div class="menu-footer-2-container">
                        <ul id="menu-footer-2" class="list">
                            <li id="menu-item-192" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a href="#">Thông tin Cổ đông</a></li>
                            <li id="menu-item-191" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a href="#">Báo cáo tài chính – thường niên</a></li>
                            <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-193"><a href="#">Biên bản và nghị quyết</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">

                    <h4><img src="~/Content/Images/stock.jpg" style="height:18px;" alt="stock"> &nbsp; CTD</h4>
                    <div style="color:#fff; padding-left:30px;">
                        <strong style="font-size:36px;">258.0</strong> <span><img src="~/Content/Images/green.jpg" alt="CTD"></span>
                    </div>
                    <div style="color:#fff; padding-left:10px;">
                        <br> &nbsp; 1.0 (0.4%)                         <br> 15:15 - 07/09/2016
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>Liên hệ</h4>
                    <div class="some-content-related-div">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 120px;">
                            <div id="inner-content-div" style="overflow: hidden; width: auto; height: 120px;">
                                <h5>Văn phòng Chính:</h5><ul class="list-f lienhe-f"><li>Đà Nẵng.</li><li>84.8-35142255/66 - 84.8-35142277</li><li><strong>Email:</strong> <a href="mailto:contact@KTS.vn">contact@KTS.vn</a></li></ul><h5>Văn phòng Đại Diện:</h5><ul class="list-f lienhe-f"><li>Đà Nẵng.</li><li>84.4-37834851 - 84.4-37834850</li><li><strong>Email:</strong> <a href="mailto:contacthn@KTS.vn">contacthn@KTS.vn</a></li></ul>
                            </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 49.3151px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="text-left"><span>Copyright © 2016 Powered by <strong>KTS</strong> Group.</span> Design by <a href="#" target="_blank" style="color:#333;">KTS Co</a></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="#" target="_blank"><img src="~/Content/Images/portal.png" alt="portal"></a> &nbsp;
                    <a href="#" target="_blank"><img src="~/Content/Images/email-icon.png" alt="Webmail KTS"></a> &nbsp;
                    <a href="#" target="_blank"><img class="alignnone wp-image-549 size-full" src="~/Content/Images/yt.jpg" alt="yt"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sub_top" style="display: none;">
    <a href="Home/Index">
        <img src="~/Content/Images/btn_top_off.png" alt="top">
    </a>
</div>